<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GID_CLIENT_ID_REVERSED)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>GIDServerClientID</key>
	<string>$(GID_SERVER_CLIENT_ID)</string>
	<key>NewsAPIKey</key>
	<string>$(NEWS_KEY)</string>
	<key>StockKey</key>
	<string>$(STOCK_KEY)</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs your location to customize your budget recommendations.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs your location to customize your budget recommendations.</string>
</dict>
</plist>
